<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mykeepapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.RecuperarPassword"></activity>
        <activity android:name=".ui.Bienvenida">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NavigationButtoms" />
        <activity android:name=".ui.RegistroAlumno" />
        <activity android:name=".ui.AlumnoAcademico" />
        <activity android:name=".ui.RegistroAcademico" />
        <activity android:name=".ui.Login" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.EditarPerfil" />
        <activity android:name=".ui.FormularioApartado" />
        <activity android:name=".ui.TiposProyectores" />
        <activity android:name=".ui.SinDisponibilidad" />
        <activity android:name=".ui.AcuerdoConfidencialidad" />
    </application>

</manifest>